*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer_box{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top left, #2c39ec , #4ea1d8 );
}
.inner_box{
    width: 400px;
    margin: 0 auto;
    border: 2px solid black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: #fafcfc;
    border-radius: 5px;
    box-shadow: 3px 4px 5px rgb(3, 46, 112);
}
.signup_header h1{
    font-size: 2.5rem;
    color: #212121;
    text-align: center;
    
}
.signup_header p{
    margin: 5px;
    padding: 5px;
    text-align: center;
}
.signup_body{
    margin: 20px 0;
}
.signup_body p{
    margin: 10px 0;
}
.signup_body p label{
    display: block;
    font-weight: bolder;
}
.signup_body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 5px;
}
.signup_body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;    
}
.signup_body p input[type="submit"]:hover{
    background-color: #1468a0;
}
.signup_footer p{
     color: #555;
     text-align: center;
}
.signup_footer p a{
    color: #04149e;
}
